.filtro1 {
    position: absolute;
    width: 262px;
    height: 262px;
    left: -50px;
    top: 41px;
    background: rgba(229, 229, 229, 0.2);
    filter: blur(200px);
    transition: 0.5s ease-in-out;
  }
  .filtro1:hover {
    transform: scale(1.2, 1.2);
  }
  .filtro3 {
    position: absolute;
    width: 30vmax;
    height: 28vmax;
    right: 10vmax;
    top: 658.63px;
    background: #f1a441;
    opacity: 0.2;
    filter: blur(200px);
    transition: 0.5s ease-in-out;
  }
  .filtro3:hover {
    transform: scale(1.5, 1.5);
  }
  .filtro4 {
    position: absolute;
    width: 30vmax;
    height: 28vmax;
    right: 10vmax;
    bottom: 100px;
    background: #d1a441;
    opacity: 0.2;
    filter: blur(200px);
    transform: rotate(75.78deg);
  }
  .filtro5 {
    position: absolute;
    width: 20vmax;
    height: 20vmax;
    right: 10vmax;
    bottom: 90px;
    background: #53cafb;
    filter: blur(200px);
    transform: rotate(75.78deg);
  }
  /*/////////--pequeñitos*/
  .filtro2 {
    position: absolute;
    width: 20vmax;
    height: 20vmax;
    right: 10vmax;
    top: 332px;
    background: #53cafb;
    filter: blur(200px);
    z-index: 5;
    transition: 0.5s ease-in-out;
  }
  .filtro2:hover {
    transform: scale(1.5, 1.5);
  }
  .filtro6 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 42px;
    top: 567px;
    background: rgba(83, 202, 251, 0.5);
    filter: blur(4px);
    z-index: 5;
    transition: 0.5s ease-in-out;
  }
  .filtro6:hover {
    transform: scale(1.5, 1.5);
  }
  .filtro7 {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 268px;
    top: 151px;
    background: rgba(83, 202, 251, 0.5);
    z-index: 5;
    transition: 0.5s ease-in-out;
  }
  .filtro7:hover {
    filter: blur(1px);
    transform: scale(1.5, 1.5);
  }
  .filtro8 {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 483px;
    top: 214px;
    background: rgba(83, 202, 251, 0.5);
    filter: blur(4px);
    z-index: 5;
    transition: 0.5s ease-in-out;
  }
  .filtro8:hover {
    transform: scale(1.5, 1.5);
  }
  .filtro9 {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 386px;
    top: 517px;
    background: rgba(83, 202, 251, 0.5);
    z-index: 5;
    transition: 0.5s ease-in-out;
  }
  .filtro9:hover {
    filter: blur(1px);
    transform: scale(1.5, 1.5);
  }
  .filtro10 {
    position: absolute;
    width: 8px;
    height: 8px;
    left: 604px;
    top: 343px;
    background: rgba(83, 202, 251, 0.5);
    z-index: 5;
    transition: 0.5s ease-in-out;
  }
  .filtro10:hover {
    filter: blur(1px);
    transform: scale(1.5, 1.5);
  }
  /////////////////////////////////////////////
  
.filtroA {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 10%;
  top: 105px;
  background: rgba(83, 202, 251, 0.5);
  filter: blur(4px);
  z-index: 5;
  transition: 0.5s ease-in-out;
}
.filtroA:hover {
  transform: scale(1.5, 1.5);
}
.filtroB {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 21%;
  top: 19%;
  background: rgba(83, 202, 251, 0.5);
  z-index: 5;
  transition: 0.5s ease-in-out;
}
.filtroB:hover {
  filter: blur(1px);
  transform: scale(1.5, 1.5);
}
.filtroC {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 604px;
  top: 340px;
  background: rgba(83, 202, 251, 0.5);
  z-index: 5;
  transition: 0.5s ease-in-out;
}
.filtroC:hover {
  filter: blur(1px);
  transform: scale(1.5, 1.5);
}
.filtroD {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 735px;
  top: 300px;
  background: rgba(83, 202, 251, 0.5);
  filter: blur(4px);
  z-index: 5;
  transition: 0.5s ease-in-out;
}
.filtroD:hover {
  transform: scale(1.5, 1.5);
}
.filtroE {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 425px;
  top: 133px;
  background: rgba(83, 202, 251, 0.5);
  z-index: 5;
  transition: 0.5s ease-in-out;
}
.filtroE:hover {
  filter: blur(1px);
  transform: scale(1.5, 1.5);
}
.filtroF {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 10%;
  bottom: 105px;
  background: rgba(83, 202, 251, 0.5);
  filter: blur(4px);
  z-index: 5;
  transition: 0.5s ease-in-out;
}
.filtroF:hover {
  transform: scale(1.5, 1.5);
}
.filtroG {
  position: absolute;
  width: 8px;
  height: 8px;
  right: 21%;
  bottom: 19%;
  background: rgba(83, 202, 251, 0.5);
  z-index: 5;
  transition: 0.5s ease-in-out;
}
.filtroG:hover {
  filter: blur(1px);
  transform: scale(1.5, 1.5);
}
.filtroH {
  position: absolute;
  width: 8px;
  height: 8px;
  right: 604px;
  bottom: 340px;
  background: rgba(83, 202, 251, 0.5);
  z-index: 5;
  transition: 0.5s ease-in-out;
}
.filtroH:hover {
  filter: blur(1px);
  transform: scale(1.5, 1.5);
}
.filtroI {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 735px;
  bottom: 300px;
  background: rgba(83, 202, 251, 0.5);
  filter: blur(4px);
  z-index: 5;
  transition: 0.5s ease-in-out;
}
.filtroI:hover {
  transform: scale(1.5, 1.5);
}
.filtroJ {
  position: absolute;
  width: 8px;
  height: 8px;
  right: 425px;
  bottom: 133px;
  background: rgba(83, 202, 251, 0.5);
  z-index: 5;
  transition: 0.5s ease-in-out;
}
.filtroJ:hover {
  filter: blur(1px);
  transform: scale(1.5, 1.5);
}
